<%- content_for :header do -%>
  <div>
    <div id="back"><a href="/" id="backBtn">Back</a></div>
    <div id="midHeader"><h2 id="findFlights">Find Flights</h2></div>
    <div id="crumb"></div>
  </div>
<%- end -%>

  <div class="left contentWrap">
    <ul id="flightNav">
      <li><a href="#">One Way</a></li>
      <li><a href="#" class="current">Return</a></li>
      <li><a href="#">Multi-City</a></li>
    </ul>
    <div id="toFrom">
      <div class="left fullwidth">
        <div class="lbl left">
          <h4>From</h4>
          <%= link_to (session[:origin])? session[:origin] : "Origin", (search_flight_index_path(:q => "from")), :id => "#{((session[:origin].blank?)? "origin_airport" : "session_origin"  )}", :class => "fromLink" %>
        </div>
        <div class="lbl right">
          <h4>To</h4>
          <%= link_to (session[:dest])? session[:dest] : "Destination", (search_flight_index_path(:q => "to")), :id => "#{((session[:dest].blank?)? "dest_airport" : "session_dest"  )}", :class => "toLink" %>
        </div>
      </div>
    </div>
  </div>
  <div id="drWrap" class="left">
      <a href="/flight/calendar" id="calLink">
        <ul id="dr" class="reset">
          <li>
            <div class="schedtaps left" id="dd">
              <h4>Depart</h4>
              <div id="departDetails" class="left fullwidth">
                <%- if session[:depart] 
                  d = Date.new(session[:depart].split("/")[2].to_i, session[:depart].split("/")[0].to_i, session[:depart].split("/")[1].to_i) -%>
                  <div id="dpDate" class="halfw left"><%= d.strftime("%b")%><br /><%= d.strftime("%Y")%></div>
                  <div id="dpDay" class="halfw left"><%= d.strftime("%d")%></div>
                <%- else %>
                  <div id="dpDate" class="halfw left"><%= Date.today.strftime("%b")%><br /><%= Date.today.strftime("%Y")%></div>
                  <div id="dpDay" class="halfw left"><%= Date.today.strftime("%d")%></div>
                <%- end %>
              </div>
            </div>
          </li>
          <li>
            <div class="schedtaps left" id="rd">
              <h4>Return</h4>
              <div id="returnDetails" class="left fullwidth">
                <%- if session[:return] 
                    d = Date.new(session[:return].split("/")[2].to_i, session[:return].split("/")[0].to_i, session[:return].split("/")[1].to_i) -%>
                  <div id="rpDate" class="halfw left"><%= d.strftime("%b")%><br /><%= d.strftime("%Y")%></div>
                  <div id="rpDay" class="halfw left"><%= d.strftime("%d")%></div>
                <%- else %>
                  <div id="rpDate" class="halfw left"><%= Date.today.strftime("%b")%><br /><%= Date.today.strftime("%Y")%></div>
                  <div id="rpDay" class="halfw left"><%= Date.today.strftime("%d")%></div>
                <%- end %>
              </div>
            </div>
          </li>
        </ul>
      </a>
  </div>
  <div class="left contentWrap">
      <h4>Passengers</h4>
      <%= form_tag(flight_index_path, :method => :post) do %>
        <div class="thirds left">
          <%= select_tag "adults", options_for_select(%w(1 2 3 4 5 6 7 8 9 10), session[:adults]) %>
          <br />
          Adults
        </div>
        <div class="thirds left">
          <%= select_tag "child", options_for_select(%w(0 1 2 3 4 5 6 7 8 9 10), session[:child]) %>
          <br />
          Children
        </div>
        <div class="thirds left">
          <%= select_tag "infants", options_for_select(%w(0 1 2 3 4 5 6 7 8 9 10), session[:infants]) %>
          <br />
          Infants
        </div>
        <div id="searchFLight" class="floatLeft width99">
          <h4>Search by</h4>
          <ul class="submitList">
            <li class="halfw"><%= submit_tag "Find Exact Date Flights", :id => "lowestFares" %></li>
            <li class="halfw"><%= submit_tag "Find Flexible Date Flights", :id => "exactDates" %></li>
          </ul>
        </div>
      <%- end -%>
    </div>
  <div class="floatLeft">
    <%- if session[:flight] %>
      <%- session[:flight].each do |flight| %>
        <%= flight %>
      <%- end %>
    <%- end -%>
  </div>
  <ul id="search_#{params[:q]}_list"></ul>

