<%- content_for :header do -%>
  <div>
    <div id="back"><a href="/" id="backBtn">Back</a></div>
    <div id="midHeader"><h2 id="findFlights">Find Flights</h2></div>
    <div id="crumb"></div>
  </div>
<%- end -%>

<%= link_to "Depart", calendar_flight_index_path %>
<%= link_to "Return", calendar_flight_index_path %>

<div id="findFlightsSec">
  <ul id="flightNav">
    <li><a href="#">One Way</a></li>
    <li><a href="#" class="current">Return</a></li>
    <li><a href="#">Multi-City</a></li>
  </ul>
  <div id="toFrom">
    <div class="floatLeft">
      <div class="half lbl floatLeft">
        <h2>From</h2>
        <%= link_to "From", (search_flight_index_path(:q => "from")), :id => "fromLink" %>
        <span id="<%= ((session[:origin].blank?)? "origin_airport" : "session_origin"  )%>"><%= session[:origin]%></span>
      </div>
      <div class="half lbl floatRight">
        <h2>To</h2>
        <%= link_to "To", (search_flight_index_path(:q => "to")), :id => "toLink" %>
        <span id="<%= ((session[:dest].blank?)? "dest_airport" : "session_dest"  )%>"><%= session[:dest]%></span>
      </div>
    </div>
  </div>
  <div id="drWrap">
      <a href="/flight/calendar">
        <ul id="dr" class="reset">
          <li>
            <div class="tapable">
              <h4>Depart</h4>
              <div id="departDetails">
                Depart Date Here
              </div>
            </div>
          </li>
          <li>
            <h4>Return</h4>
            <div id="returnDetails">
              Return Date Here
            </div>
          </li>
        </ul>
      </a>
    </div>


    <%= form_tag(flight_index_path, :method => :post) do %>
      <%= hidden_field_tag "depart", "", :id => "dDate" %>
      <%= hidden_field_tag "return", "", :id => "rDate" %>
      Adults: <%= select_tag "adults", options_for_select(%w(1 2 3 4 5 6 7 8 9 10)) %>
      Children: <%= select_tag "child", options_for_select(%w(0 1 2 3 4 5 6 7 8 9 10)) %>
      Infants: <%= select_tag "infants", options_for_select(%w(0 1 2 3 4 5 6 7 8 9 10)) %>
      <%= submit_tag "Find Exact Date Flights" %>
      <%= submit_tag "Find Flexible Date Flights" %>
    <%- end -%>
    <ul id="search_#{params[:q]}_list"></ul>
  </div>
</div>