<%- content_for :header do -%>
  <div>
    <div id="back"><a href="/" id="backBtn">Back</a></div>
    <div id="midHeader"><h2 id="findFlights">Find Flights</h2></div>
    <div id="crumb"></div>
  </div>
<%- end -%>

<%= link_to "Depart", calendar_flight_index_path %>
<%= link_to "Return", calendar_flight_index_path %>

<div id="findFlightsSec">
  <ul id="flightNav">
    <li><a href="#">One Way</a></li>
    <li><a href="#" class="current">Return</a></li>
    <li><a href="#">Multi-City</a></li>
  </ul>
  <div id="toFrom">
    <div class="floatLeft">
      <div class="lbl floatLeft">
        <h2>From</h2>
        <%= link_to session[:origin], (search_flight_index_path(:q => "from")), :id => "#{((session[:origin].blank?)? "origin_airport" : "session_origin"  )}", :class => "fromLink" %>
      </div>
      <div class="lbl floatRight">
        <h2>To</h2>
        <%= link_to session[:dest], (search_flight_index_path(:q => "to")), :id => "#{((session[:dest].blank?)? "dest_airport" : "session_dest"  )}", :class => "toLink" %>
      </div>
    </div>
  </div>
  <div id="drWrap">
      <a href="/flight/calendar">
        <ul id="dr" class="reset">
          <li>
            <div class="tapable">
              <h4>Depart</h4>
              <div id="departDetails">
                Depart Date Here
              </div>
            </div>
          </li>
          <li>
            <h4>Return</h4>
            <div id="returnDetails">
              Return Date Here
            </div>
          </li>
        </ul>
      </a>
    <%= form_tag(flight_index_path, :method => :post) do %>
      Adults: <%= select_tag "adults", options_for_select(%w(1 2 3 4 5 6 7 8 9 10), session[:adults]) %>
      Children: <%= select_tag "child", options_for_select(%w(0 1 2 3 4 5 6 7 8 9 10), session[:child]) %>
      Infants: <%= select_tag "infants", options_for_select(%w(0 1 2 3 4 5 6 7 8 9 10), session[:infants]) %>
      <%= submit_tag "Find Exact Date Flights" %>
      <%= submit_tag "Find Flexible Date Flights" %>
    <%- end -%>
    <ul id="search_#{params[:q]}_list"></ul>
  </div>
  <div id="searchFLight" class="floatLeft">
    <h3>Searched by</h3>
    <a id="lowestFares" class="floatLeft">Lowest Fares</a>
    <a id="exactDates" class="floatRight">Exact Dates</a>
  </div>

</div>
