<!DOCTYPE html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta http-equiv="cleartype" content="on">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "jquery.ui.custom" %>
  <%= stylesheet_link_tag "custom" %>
  <%= csrf_meta_tags %>


  <%= javascript_include_tag "modernizr-custom"%>
  <script>
    Modernizr.mq('(min-width:0)') || document.write('<script src="respond.min.js">\x3C/script>')
  </script>
  <script>
    var centerLatitude = -38.47;
    var centerLongitude = 144.98;
    var origin_airports = ['<%= @origins.join("\', \'") if @origins %>'];
    var destination_airports = ['<%= @destination.join("\', \'") if @destination %>'];
  </script>
</head>
  <body>
    <div id="container">
      <header>
        <!-- <a href="#" class="cancelBtn">Cancel</a> -->
        <%= yield :header %>
        <!-- <a href="#" class="doneBtn">Done</a> -->
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>

      <footer class="left">
        <nav>
          <ul>
            <li class="withGap"><a href="#">Regular Site</a></li>
            <li class="withGap"><a href="#">Privacy &amp; Security</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </nav>
        <div id="copyright">
          &copy; 2011 Jetstar Airways Pty Ltd. ABN 33 069 720 243
        </div>
      </footer>
    </div>
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <%= javascript_include_tag "application"%>
    <%= javascript_include_tag "jquery.iphonepicker"%>
    <%- if session[:origin].blank? %>
    <script>
      $(document).ready(function() {
        if (Modernizr.geolocation)
          navigator.geolocation.getCurrentPosition(function(position) {
            centerLatitude = position.coords.latitude;
            centerLongitude = position.coords.longitude;
            // // remove me...
            // centerLatitude = -38.47;
            // centerLongitude = 144.98;

            findClosestAirport(centerLatitude, centerLongitude);
          });
        else {
          findClosestAirport(centerLatitude, centerLongitude);
          alert('Unable to get nearby airports');
        }
      });
    </script>
    <%- end -%>
    <script>
      MBP.scaleFix();
    </script>
  </body>
</html>
