<!DOCTYPE html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "jquery.ui.custom" %>
  <%= stylesheet_link_tag "custom" %>
  <%= csrf_meta_tags %>


  <%= javascript_include_tag "modernizr-custom"%>
  <script>
    Modernizr.mq('(min-width:0)') || document.write('<script src="respond.min.js">\x3C/script>')
  </script>
  <script>
    var origin_airports = ['<%= @origins.join("\', \'") if @origins %>'];
    var destination_airports = ['<%= @destination.join("\', \'") if @destination %>'];
  </script>
</head>
  <body>
    <div id="container">
      <header>
        <%= yield :header %>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>

      <footer>
        <nav>
          <ul>
            <li class="withGap"><a href="#">Regular Site</a></li>
            <li class="withGap"><a href="#">Privacy &amp; Security</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </nav>
        <div id="copyright">
            &copy; 2011 Jetstar Airways Pty Ltd. ABN 33 069 720 243
        </div>
      </footer>
    </div>
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <%= javascript_include_tag "application"%>
    <script>
      MBP.scaleFix();
    </script>
  </body>
</html>
